<!-- <h1>Pins#new</h1> -->
<!-- <p>Find me in app/views/pins/new.html.erb</p> -->

<h3> Crear tu Pin <h3>

<%= form_with model: @pin do |f| %>
    <div class='form-group'>
        <%= f.text_field :name, placeholder: 'Nombre' %>
    </div>

    <div class='form-group'>
        <%= f.text_field :desc, placeholder: 'Descripción' %>
    </div>

    <div class='form-group'>
        <%= f.text_field :photo, placeholder: 'Url Foto' %>
    </div>

    <div class='form-group'>
        <%= f.submit 'Crear Pin', class: 'btn btn-primary' %>
    </div>

<% end %>